<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        />
        <title>Edi-Q — Tienda Online</title>
    </head>

    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">EDI-Q</a>
                </div>
                <div>
                    <a href="cart.html">Carrito</a>
                    <a href="signin.html">Iniciar sesión</a>
                </div>
            </header>
            
            <main>
                <div class="row center">
                    
                    <div class="card">
                        <a href="product.html">
                            <!-- Tamaño de imagen: 680px por 830px  -->
                            <img class="medium" src="./images/guia1.png" alt="prodct" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Formación Cívica y Ética I</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="price">
                                $100   
                            </div>
                        </div>
                    </div>
                
                    <div class="card">
                        <a href="product.html">
                            <!-- Tamaño de imagen: 680px por 830px  -->
                            <img class="medium" src="./images/guia2.png" alt="prodct" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Formación Cívica y Ética I</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="price">
                                $100   
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- Tamaño de imagen: 680px por 830px  -->
                            <img class="medium" src="./images/guia3.png" alt="prodct" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Formación Cívica y Ética I</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="price">
                                $100   
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- Tamaño de imagen: 680px por 830px  -->
                            <img class="medium" src="./images/guia4.png" alt="prodct" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Formación Cívica y Ética I</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <div class="price">
                                $100   
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- Tamaño de imagen: 680px por 830px  -->
                            <img class="medium" src="./images/guia5.png" alt="prodct" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Formación Cívica y Ética I</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star-half-alt"></i></span>
                            </div>
                            <div class="price">
                                $100   
                            </div>
                        </div>
                    </div>


                </div>
            </main>

            <footer class="row center">
                © Copyright 2021 Ediq MX
            </footer>
        </div>
    </body>
</html>