
html{
  /*
  Tamaño por default de las fuentes: 16 px
  Si usamos 62.5% del tamaño entonces el tamaño real será.. 
  16px * 62.5% = 10 px
  10 pixel será el tamaño real de la letra, también llamado
  1 REM, en este caso 1 REM = 10 px
  */
  font-size: 62.5%; 
  
  /*si se define un elemento con un ancho de 
  100 pixeles. Esos 100 pixeles incluíran 
  cualquier borde o relleno que se añadan, 
  y la caja de contenido se encogerá para 
  absorber ese ancho extra. 
  Esto típicamente hace mucho más 
  fácil dimensionar elementos.*/
  box-sizing: border-box; 
}


/*CSS root de REACT*/
#root{
  height: 100%;
  /*Global CSS Variables*/
  --bg-main: #eeeded;
  --bg-nav: #00091b;
  --bg-footer: #161C26;

  --text-color-main: #000000;
  --text-color-second: #ffffff;
  --text-color-success: #0e5202;  
  --text-color-danger: #c00b0b;
  --text-color-info: #2020a0;
  --color-hover: #f5c906;

  --nav-size: 60px;
  
  --border: 1px #000000 solid;
  --border-radius: 8px;
  --speed: 500ms; 
}

body{
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;

    
  /*opciones de fuentes 1,2 y 3...*/
  /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
=====================================
==============[Diseño]===============
=====================================


/*Creamos una clase llamada grid-container*/
.grid-container{
  /*Para manejo de secciones mas facilmente*/
  display: grid;
  /*Se definen las áreas de las paginas*/
  grid-template-areas: 
  'header'
  'main'
  'footer';

  /*1 fr = 1 fragmento, total de fragmentos que ocupa una sección*/
  grid-template-columns: 1fr; /*solo habra una columna, 1 fragmento*/
  
  /*Se establece el tamaño de cada una de las secciones 
  definidas anteriormente (header, main y footer) en el mismo orden*/
  grid-template-rows: auto 1fr 10rem;
  
  height: 100%;
}


/*QUITAR GRID*/
header{
  grid-area: header;
  background-color: var(--bg-nav);
}


/*QUITAR GRID*/
main{
  grid-area: main;
  /*margen*/
  padding: 3rem;
  background-color: var(--bg-main);
}


/*QUITAR GRID*/
footer{
  grid-area: footer;
  background-color: var(--bg-footer);
  color: var(--text-color-second);
  
  background-position: top left;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

/*
====================================
======== [Nav bar] ==========
====================================
*/

nav{
  max-width: 1600px;
  margin: 0 auto;
}

/*Color de la marca*/
.brand{
  color: var(--text-color-second);  
  font-size: 3rem;
  font-weight: bold;
}

.brand:hover{
  color: var(--text-color-second);  
}

.nav-item{
  display: flex;
}

.icon-button{
  --button-size: calc(var(var(--nav-size)) * 0.8);
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover{
  filter: brightness(1.2);
}

.icon-button svg{
  fill: var(--text-color-main);
  width: 20px;
  height: 20px;
}

.search-bar{
  margin-left: 1rem;
  margin-right: 1rem;
}
/*
====================================
======== [Dropdown] ==========
====================================
*/

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  top: 80%;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: var(--bg-nav);
  margin: 0;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.menu-bar{
  background-color: var(--bg-nav);
  order: -1;
}


.menuIcon{
  color: var(--text-color-second);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.menuIcon:hover{
  color: var(--color-hover);
}

.menu-item{
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
}

@media screen and (min-width:610px){
  .menuIcon{
    display: none;
  }


  .menu-bar{
    position: unset;
    left: unset;
    order:unset;
    background-color: var(--bg-footer);
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}


.menu-item:hover{
  background-color: green;
}

/*
====================================
======== [Clases comunes] ==========
====================================
*/
.simple-flex{
  display: flex;
}

/*Creamos una clase llamada flex-container
para hacer la pagina responsive (que
cambie de lugar los elementos si la 
pantalla es pequeña)
*/
.flex-container-column{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*Para centrar vertical y horizontalmente*/
.flex-container.center{
  justify-content: center;
}

.flex-container.space-around{
  justify-content: space-around;
}

/*Para alinear los items hacia arriba*/
.flex-container.top{
  align-items: flex-start;
}

.flex-container.items_to_end{
  justify-content: flex-end;
}

.flex-container.items_to_start{
  justify-content: flex-start;
}

.separate-right{
  margin-right: .5rem;
}

.separate-left{
  margin-left: .5rem;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

.size-1{
  flex: 1 1 auto;
}

.min-30{
   min-width: 30rem;
}

/*modificaciones de titulo h1*/
h1{
  font-size: 1.8rem;
  /*padding vertical y horizontal*/
  padding: 1rem 0;
}

/*Modificacion de titulos h2*/
h2{
  font-size: 1.6rem;
  /*padding vertical y horizontal*/
  padding: 1rem 0;
}

/*Modificaciones en listas*/
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

/*Modificaciones en elementos de listas (para agregar separaciones entre c/u)*/
li{
  margin-top: 0;
}

/*otros elementos de entrada de datos y botones*/
input, select, textarea, button{
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem #979494 solid;

  font-size: 1.6rem;
  /*opciones de fuentes 1,2 y 3...*/
  font-family: Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: var(--bg-main);
  cursor: pointer;

}

input:hover, select:hover, textarea:hover,button:hover{
  border: 0.1rem #242323 solid;
}

button.primary{
  background-color: #5e9eff;
}

button.block{
  width: 100%;
}

/*Para eliminar el subrayado en las etiquetas a*/
a{
  text-decoration: none;
  color: var(--text-color-main);
}
/*En caso de poner el cursor arriba poner de color blanco*/
a:hover{
  color: #626dff;
}

.number-cart{
  background-color: #c00b0b;
  color: var(--text-color-second);
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

/*Links dentro del header tienen el siguiente color*/
header a{
  color: var(--text-color-second);
  padding: 1rem;
}
header a:hover{
  color: var(--color-hover);
}

/*
==================================
========== [Imagenes] ============
==================================
*/
img{
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium{
  max-width: 22rem;
  width: 100%;
}

img.large{
  max-width: 32rem;
  width: 100%;
}


/*
===================================
======== [Cards (tarjetas)] =======
===================================
*/
.card{
  background-color: #f0f0f0;
  border-radius: 0.8rem;
  margin: 1rem;    
  border: 0.1rem #b3b3b3 solid;
}
.card-body{
  padding: 1rem;
}
/*todo lo que esté adentro de card body*/
.card-body > *{
  margin-bottom: 0.5rem;
}

.huge-card{
  background-color: var(--bg-main);
  border-radius: 0.8rem;
  margin: 1rem;    
  border: 0.1rem #d1d1d1 solid;

  padding: 1.5rem;
}

/*
=================================
========= [Iconos] ========
=================================
*/
/*Para todos las etiquetas span dentro de la clase rating*/
.rating span{
  color: #000000;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #4c5057;
}

.navigation-bar-icon{
  color: var(--text-color-second);
}

.navigation-bar-icon:hover{
  color: var(--color-hover);
}

/*
==================================
=========== [Alertas] ============
==================================
*/
.loading{
  display: block !important;
}

.success{
  color: var(--text-color-success);
}

.danger{
  color: var(--text-color-danger);
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: var(--text-color-info);
  background-color: #b3b3fa;
}

.alert-danger{
  color: var(--text-color-danger);
  background-color: #f59191;
}


/*
===================================
======== [Formularios] =======
===================================
*/
form{
  max-width: 60rem;
  margin: 0 auto;
}

form > div{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form label{
  margin: 1rem 0;
  display: block;
}


/*
===================================
======== [Pasos de pedidos] =======
===================================
*/
.checkout-steps > div{
  border-top: 0.5rem var(--bg-nav) solid;
  border-radius: 0.6rem;
  color: var(--text-color-main);
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active{
  border-top: 0.5rem var(--text-color-success) solid;
  color: var(--text-color-main);
}